@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    padding: 10%;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}

main {
    opacity: 0.4;
}

a {
    color: hsl(207, 44%, 49%);
}

a:visited {
    color: purple
}

a:hover,
a:focus {
    /* color: hsl(189, 44%, 49%); */
}

a:active {
    color: red;
}