@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    padding: 10%;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: underline;
    cursor: pointer;
    color: blue;
}

a:hover {
    color: dodgerblue;
}

a:visited {
    color: purple
}

a:active {
    color: red;
}